{% extends 'base-portfolio-sujan.html' %}
{% load staticfiles %}
{% block title %}
    <title>Education | Sujan Kumal - A Dreamer</title>
{% endblock %}

{% block body %}
<section class="home_banner_area" style="background-color: #f5f5f5">
            <div class="projects_area p_120">
				<div class="container">
					<div class="main_title">
                        <h2>Education</h2>
                    </div>
                        <div class="projects_inner row">
                            <ol type="I">
                                <li>Gandaki College of Engineering and Science (Software Engineering)</li>
                                <li>Motherland Higher Secondary School (+2 Science, Biology with Mathematics)</li>
                                <li>Spiral Galaxy Academy (SLC)</li>
                                <li>Gyankunj Higher Secondary Boarding School (foundation)</li>
                                <li>Sublime Higher Secondary Boarding School (primary)</li>
                            </ol>
                        </div>

                </div>
            </div>
</section>
{% endblock %}