{% extends 'base-portfolio-sujan.html' %}
{% load staticfiles %}
{% block title %}
    <title>Home | Sujan Kumal - A Dreamer</title>
{% endblock %}

{% block body %}

    <!--================Home Banner Area =================-->
        <section class="home_banner_area" style="background-color: #f5f5f5">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="home_left_img">
								<img src="{%  static 'images/sujankumal.jpg'%}" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="banner_content">
								<h5>This is me</h5>
								<h2>Sujan Kumal</h2>
                                <p>
                                    I was born on September 3,1995 (2052 Bhadra 18) to a Hindu Family in Chhoprak, Gorkha District, Nepal.
                                    <br>I grew up in Pokhara, Nepal.
                                    <br>
                                    I am usually called as “sano dai”| “san dai” . And I love this.
                                </p>
                                <p>

                                </p>

							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

{% endblock %}