{% extends 'base-portfolio-sujan.html' %}
{% load staticfiles %}
{% block title %}
    <title>Photos | Sujan Kumal - A Dreamer</title>
{% endblock %}

{% block body %}

        <!--================Projects Area =================-->
        <section class="projects_area p_120">
        	<div class="container">
        		<div class="main_title">
					<h2>Photos</h2>
				</div>

				<div class="projects_inner row">
					<div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{% static 'images/projects/projects-1.jpg'%}" alt="">

						</div>
					</div>
                    <div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{% static 'images/projects/projects-2.jpg'%}" alt="">

						</div>
					</div>
                    <div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{% static 'images/projects/projects-3.jpg'%}" alt="">

						</div>
					</div>
                    <div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{% static 'images/projects/projects-3.jpg'%}" alt="">

						</div>
					</div>
                    <div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{% static 'images/projects/projects-4.jpg'%}" alt="">

						</div>
					</div>
                    <div class="col-lg-4 col-sm-6 brand web">
						<div class="projects_item">
							<img class="img-fluid" src="{% static 'images/projects/projects-5.jpg'%}" alt="">

						</div>
					</div>

				</div>
        	</div>
        </section>
        <!--================End Projects Area =================-->

{% endblock %}