{% extends 'base.html' %}
{% block title %}
    <title>Add Student Form</title>
{% endblock %}

{% block body %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
{% endblock %}