{% extends 'base.html' %}

{% block title %}
    <title>App1|index</title>
{% endblock %}

{% block body %}
    <h1>this is index page of app 1</h1>
    <button class="btn btn-success">hello</button>
{% endblock %}