{% extends 'base.html' %}

{% block body %}



    <table class = "table table-dark table-hover">
        <thead>
            <th>id</th>
            <th>Name</th>
            <th>Student Count</th>
            <th>Delete</th>
            <th>Edit</th>
        </thead>
        <tbody>
            {% for school in schools %}
                <tr>
                    <td>{{ school.id }}</td>
                    <td>{{ school.name }}</td>
                    <td>{{ school.student_count }}</td>
                    <td><a href="{% url 'edit_school' id=school.id %}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}