{% extends 'base.html' %}
{% block body %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
        {% endfor %}
    {% endif %}
    <table class = "table table-dark table-hover">
        <thead>
            <th>id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>School</th>
            <th>Delete</th>
            <th>Edit</th>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.school }}</td>
                    <td> <a href="{% url 'AppOne:delete_student' id=student.id %}">delete</a> </td>
                    <td> <a href="{% url 'AppOne:edit_student' id=student.id %}">Edit</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}