{% extends 'base.html' %}

{% block title %}
    <title>Register User</title>
{% endblock %}

{% block body %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ user_profile_form.as_p }}
    <input type="submit" value="Save changes">
    </form>
{% endblock %}