{% extends 'base.html' %}

{% block title %}
    <title>App2|index</title>
{% endblock %}

{% block body %}
    <h1>this is index page of app2</h1>
    <button class="btn btn-success">click</button>
{% endblock %}