<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'imgages/favicon.png'%}" type="image/png">
        {% block title %}
            <title>Title</title>
        {% endblock %}
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/flaticon/flaticon.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body >

<!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu" id="mainNav">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'portfolio_sujan_home' %}"><b>SUJAN KUMAL</b></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="{% url 'portfolio_sujan_home' %}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'portfolio_sujan_education' %} ">Education</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'portfolio_sujan_photos' %}">Photos</a>

								<li class="nav-item"><a class="nav-link" href="{% url 'portfolio_sujan_contact' %}">Contact</a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->




    {% block body %}
    {% endblock %}
<!--================Footer Area =================-->
        <div class="container">
            <br>
        </div>
        <footer class="footer_area ">
        	<br>

            <div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					<p>“We all are stories in the end, so let's make it a good one.”</p>
        			    </aside>
        			</div>
        			<div class="col-lg-2 ">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="https://www.facebook.com/sujan.kumal.03"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="https://www.instagram.com/sujan_03_"><i class="fa fa-instagram"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
{#        <script src="{% static 'js/popper.js'%}"></script>#}
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
{#        <script src="{% static 'js/stellar.js'%}"></script>#}
{#        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js'%}"></script>#}
{#        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js'%}"></script>#}
{#        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js'%}"></script>#}
{#        <script src="{% static 'vendors/isotope/isotope-min.js'%}"></script>#}
{#        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js'%}"></script>#}
{#        <script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>#}
{#        <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js'%}"></script>#}
{#        <script src="{% static 'vendors/counter-up/jquery.counterup.min.js'%}"></script>#}
{#        <script src="{% static 'js/mail-script.js'%}"></script>#}
        <!--gmaps Js-->
{#        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>#}
{#        <script src="{% static 'js/gmaps.min.js'%}"></script>#}
{#        <script src="{% static 'js/theme.js'%}"></script>#}
</body>

</html>