<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}
    <title>Title</title>
    {% endblock %}


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!--  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'AppOne:app1_index' %}">App1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'app2_index' %}">App2</a>
      </li>
        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'AppOne:userLogout' %}">Logout</a>
          </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'AppOne:userRegister' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'AppOne:userLogin' %}">Login</a>
              </li>
        {% endif %}

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{% if msg.tag == "error" %}danger{% else %}{{ msg.tags }}">{{ msg }}{% endif %}</div>
        {% endfor %}
    {% endif %}

{% block body %}
{% endblock %}


        <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
        <script src="{% static 'js/popper.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>

</html>